.testimonial-panel .testimonial--meta-img {
    border-color: rgba(34, 34, 34, 0.15);
}

.interactive-white .banner-panel {
    padding-top: 90px;
}

.tabs .nav-tabs > li.active {
    border-bottom: 2px solid #536ed3;
}

.tabs .nav-tabs {
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}


.page-title .title {
    padding: 222px 0 122px;
}

.page-title .title--heading {
    margin-bottom: 0;
}
